= semantic_form_for @order_item do |form|
  = form.inputs do
    = form.input :price, :label => 'Price'
    = form.input :plate, :label => 'Plate'
    = form.input :selection, :label => 'Selection'
  = form.buttons
