!!!5
%html
  %head
    %title My Lunch In : #{controller.controller_name}.#{controller.action_name}
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tag
  %body
    #wrapper
      -# HEADER CONTENT
      #header
        .inner
          .logo
            %a.table{:href => root_url}
              = image_tag("table.png")
            %h1 My Lunch In
            %h5 Today @ Nora's Table
          -# navigation
          = render :partial => "layouts/navigation"
          / #nav end
          .clear
      / MAIN CONTENT START
      = yield
      / FOOTER CONTENT START
      = render :template => "layouts/footer"

    / Google Analytics
    / :javascript
    /   var _gaq = _gaq || [];
    /   _gaq.push(['_setAccount', 'UA-24805668-1']);
    /   _gaq.push(['_trackPageview']);
    / 
    /   (function() {
    /   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    /   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    /   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    /   })();
      
      